<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quinta de Viana</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='js/bootstrap.min.js') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dash.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <h1>Reports</h1>
        {% if data['modified_at'] %}
        <h5>Última sincronizaçao: {{data['modified_at']}}</h5>
        {% endif %}
        <div class="table-responsive">
            {% if data['table'] %}
                {{data['table'] | safe}}
            {% elif data['contato'] %}
                <p>lucasribeiroabreu@gmail.com</p>
            {% else %}
                <p>{{data['msg']}}</p>
            {% endif %}

        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</html>