<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quinta de Viana</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='js/bootstrap.min.js') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body onload="updateTable()">

<div class="container-fluid">
    <h1>Relatórios</h1>

    <div class="container-fluid">
        <form id="tempo_form" action="" class="text-center">

            <label class="radio-inline">
                <input type="radio" name="tempo" value="1" onclick="updateTable()" checked> Dia
            </label>
            <label class="radio-inline">
                <input type="radio" name="tempo" value="2" onclick="updateTable()"> Semana
            </label>
            <label class="radio-inline">
                <input type="radio" name="tempo" value="3" onclick="updateTable()"> Mês
            </label>

        </form>
        <br>

        <div class="text-center">
            <input id="qtd" type="number" min="3" max="20" step="1" value="7" onclick="updateTable()"/>
        </div>
        <div class="container-fluid">
            <br>

            <p id="dados">

            </p>

            <div id="chart_div"></div>

        </div>
        <script>
        function updateTable(x) {
            var qtd = document.getElementById("qtd").value
            for(i=0; i<document.getElementsByName("tempo").length; i++){
                if (document.getElementsByName("tempo")[i].checked)
                {
                    console.log("Item marcado", i+1, "_",qtd, " vezes")
                    var txt = $.ajax({url: "http://0.0.0.0:5000/time/" + (i+1) + "/qtd/" + qtd,
                                      success: function(data) {
                                        document.getElementById("dados").innerHTML = txt.responseJSON.report;


                                        // Load the Visualization API and the corechart package.
                                      google.charts.load('current', {'packages':['corechart']});

                                      // Set a callback to run when the Google Visualization API is loaded.
                                      google.charts.setOnLoadCallback(drawChart);
                                       function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Data');
        data.addColumn('number', 'R$');
        var result = [];

        var parsed = JSON.parse(txt.responseJSON.report_json);
        for(var i in parsed)
            result.push([i, parsed[i]]);
        data.addRows(result);

        // Set chart options
        var options = {'title':'',
                       'width':1200,
                       'height':600};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

                                        }
                                     })

                }
            }
        }



        </script>

    </div>


</div>

</body>
</html>
